@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import "../../commonStyle";

.wrapper {
  background: #444;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 25px;
  @media (max-width: 900px) {
    padding: 8px 10px;
  }
  white-space: nowrap;
  display: flex;

  justify-content: space-between;
  align-items: center;

  .cartDescription {

    display: inherit;
    grid-gap: 30px;
    font-size: 1.1em;
    font-weight: 300;
    color: white;
    min-width: 3em;
  }

  > * {
    display: inherit;
    grid-gap: 10px;
  }

  .link {
    font-family: 'Rubik Mono One', sans-serif;
    padding: 0.2em 0.3em 0.1em 0.25em;
    text-decoration: none;

    font-size: 1.4em;
    background: white;
    border-radius: 5px;
  }
  .cartDescription{
    align-items: center;
    > button{
      font-size: 1.00em;
    }
  }

  $stroke: 1px;
  @media (min-width: 700px) {
    .link {
      -webkit-text-stroke: $stroke #000000;
      -webkit-text-fill-color: transparent;

      &:hover {
        -webkit-text-stroke: $stroke #4545c2;
        -webkit-text-fill-color: aquamarine;
        box-shadow: 0px 0px 6px 3px aquamarine;
      }
    }

  }
  @media (max-width: 700px) {
    > * {
      grid-gap: 5px;
    }
    .link {
      letter-spacing: -2px;
      font-size: 1.3em;
      color: aquamarine;
    }
    .cartDescription{
      font-size: 1.3em;
      grid-gap: 10px;
      > button{
        padding: 1px;
      }
    }
  }
}

.possiblyNoneDisplay {
  @media (max-width: 500px) {
    display: none;
  }
}