@import "../../commonStyle";

.wrapper {
  *{
    font-size: 0.98em;
  }
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  img {
    width: 65%;
    max-width: 300px;
    max-height: 300px;
    display: block;
  }

  .user_settings {
    width: 94%;

    > * {
      margin: 8px;

    }

  }

  .title {
    text-align: center;
    font-size: 1.1em;
  }

  .portion_area {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;

    button {
      padding: 5px;
      @include defaultRadio(goldenrod)
    }

  }

  .count_area {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;


    > p {
      min-width: 1.5em;

      text-align: center;
    }

    button {
      width: 1.5em;
      height: 1.5em;
      border-radius: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

    }
  }


  .cart_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}