@import "../../commonStyle";

.wrapper {
  *{
    font-size: 0.98em;
  }
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  img {
    width: 65%;
    max-width: 300px;
    max-height: 300px;
    display: block;
  }

  .user_settings {
    width: 94%;

    > * {
      margin: 8px;

    }

  }

  button:active {
    background: springgreen;
  }

  .title {
    color: black;
    text-align: center;
    font-size: 1.1em;
  }

  .portion_area {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;

    button {
      color: black;
      padding: 5px;
      @include defaultRadio(goldenrod, palegoldenrod)
    }

  }

  .count_area {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;


    > p {
      min-width: 1.5em;
      color: black;
      text-align: center;
    }

    button {
      width: 1.5em;
      height: 1.5em;
      border-radius: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      @extend %grayButton;
    }
  }


  .cart_area {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > p {
      color: black;
    }
    > button {
      @extend %grayButton;
    }
  }
}