.wrapper {
    box-sizing: border-box;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

}
.wrapper img {
    width: 75%;
    max-width: 400px;
    max-height: 400px;
    display: block;
}

.user_settings {
    margin-top: auto;
    padding: 0 0 2vw 0;
    grid-gap: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    width: 90%;
    text-align: center;
    font-size: 1.1em;
}
.portion_area{
    min-width: 80%;
    width: max-content;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.portion_area button {
    font-size: 0.9em;
    border: none;
    border-radius: calc(0.7vw + 7px);
    background-color: palegoldenrod;
    color: white;
    padding: 1.25vmin 2.5vmin;
    cursor: pointer;

}

.portion_area .active {
    background-color: goldenrod;
}

.count_area {
    display: flex;

    align-items: center;
}
.count_area *{
    font-size: 1.2em;
}
.count_area button {
    border: none;
    border-radius: 100px;
    background-color: #cfcfcf; /* Green background */
    color: white; /* White text */
    margin: 0 15px;
    padding: 3px 23px;
    cursor: pointer; /* Pointer/hand icon */
}

.count_area button:hover {
    background: sandybrown;
}

.bottom_area > p{
    font-size: 1.5em;
}
.bottom_area{
    display: flex;
    width: 85%;
    justify-content: space-between;
    button {
        border-radius: 10px;
        border: none;
        padding: 4px 10px;
        font-size: 0.8em;
        background: lightgray;
        color: white;
    }
    button:hover {
        background:sandybrown;
    }
    button:active {
        background: lightgreen;
    }
}
