@import "../../commonStyle";

.mainPage {
  flex: 1;

  > * {
    margin: 0.60vw;
  }

  > header {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    $space: 0.45em;
    padding: $space;
    grid-gap: $space;


    .category_area {
      display: flex;
      align-items: center;
      grid-gap: $space;

      > button {
        font-weight: bold;
        padding: 5px 7px;

        @include defaultRadio(orange);
      }

    }

    > input[type='search'] {
      border-radius: 5px;
      padding: 2px 4px;
      flex: 1;
      max-width: 300px;
    }

  }

  > main {
    border-radius: 15px;
    box-sizing: border-box;
    display: grid;

    grid-gap: 2vmin 2%;
    grid-template-columns: repeat(auto-fill, minmax(calc(130px + (100vw / 1920) * 130), 1fr));

  }
}
