.wrapper * {

    display: grid;
    overflow: hidden;
    border-radius: 5px;
}

.wrapper {
    padding:2vh 10px 10px 10px;
    font-size: 15px;
}

.wrapper .link {
    margin-bottom: 12px;
    padding: 9px 10px 15px 10px;
    text-decoration: none;
    line-height: 15px;
    font-size: 2.2em;
    color: lightseagreen;
    background: white;
}

.count_area {
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: 68% 28%;
    height: max-content;
    width: 100%;
    justify-content: space-between;
}

.count_area p:first-child {
    background: white;
    padding: 1px 10px;
    display: flex;
    align-items: center;
    font-size: 1.3em;
}

.count_area *:last-child {
    background: white;
    padding-bottom: 1px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.count_area *:last-child p{
    background: none;
}
.price_area *{
    margin-bottom: 12px;
    /*padding: 4px 7vh;*/
    background: white;
    font-size: 1.4em;
    padding-left: 10px;
}
.price_area *:last-child{
    font-size: 2em;
}