@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  font-size: calc(10px + 10 * (100vw / 1920));
}
.wrapper {
  --border-radius: calc(10px + 10 * (100vw / 1920));
  background: var(--background);
}

* {
  padding: 0;
  margin: 0;
  font-size: 1em;
  line-height: 1em;
}
%defaultBox {
  padding: 5px 10px;
  border-radius: calc(3px + 3 * (100vw / 1920));
}
select {
  @extend %defaultBox;
}
button {
  @extend %defaultBox;
  font-family: Source Sans Pro, sans-serif;
  $hoverColor: springgreen;
  box-sizing: border-box;
  border: none;

  // &:hover {
  //   background: var(--secondary) !important;
  //   box-shadow: 0 0 5px 2px var(--secondary);
  // }

  &:hover {
    opacity: 0.8;
  }
  &:active {
    // background: var(--secondary);
    opacity: 1;
    box-shadow: 0 0 1px 1px;
  }
  // &:active {
  //   background: $hoverColor;
  //   opacity: 0.8;
  // }
}

.wrapper {
  min-height: 100vh;
}
article {
  border-radius: 8px;
  background-color: var(--primary);
  box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.1);
}

.material-symbols-outlined {
  cursor: pointer;
  user-select: none;
}
.radio {
  &:hover {
    background: var(--sacondary) !important;
    box-shadow: 0 0 5px 2px var(--secondary);
  }
  &.selected {
    background: var(--secondary);
  }
}

.selected {
  background: var(--secondary);
}
.good {
  --secondary: springgreen;
}
.bad {
  --secondary: red;
}
