body {
  background: #efefef;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Tahoma, sans-serif;
  font-size: calc(10px + 10 * (100vw / 1920));
}

* {
  padding: 0;
  margin: 0;
}
$blocks-color: white;
$default-color: #efefef;

@mixin defaultButton($hoverColor,$BackgroundColor:$default-color) {
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background: $BackgroundColor;
  &hover {
    opacity: 0.7;
  }
  &:hover {
    color: white;
    background: $hoverColor;
    opacity: 1;
    box-shadow: 0 0 5px 2px $hoverColor;
  }
  &:active{
    opacity: 1;
    background: $hoverColor;
  }
}

@mixin defaultRadio($activeColor,$BackgroundColor) {
  @include defaultButton($activeColor,$BackgroundColor);

  &.active{
    background: $activeColor;
  }
}

%grayButton{
  background: $default-color;

  $color: springgreen;
  color:black;
  &:hover{
    background: $color;
    color: white;
  }

  &:hover {
    box-shadow: 0px 0px 6px 3px $color;
  }
}


select{
  @include defaultButton($default-color,orange);
}
