@mixin createTheme($background,$header,$blocks,$buttons,$contrastFont,$font){
  background: $background;
  .mainHeader {
    background:$header;
  }

  article,header{
    background:$blocks;
  }
  button{
    background:$buttons;
    color: $font;

    &:hover{
      color: $contrastFont;
    }
  }
  p,h1{
    color: $contrastFont;
  }
}

.lightTheme{
  @include createTheme(#efefef, #598e9f,white,
          #b5b5b5, #1d1d1d,white);
}
.darkTheme{
  @include createTheme(#575757, #2c2c2c, #363636,
          #575757, #ffffff, #191919);

}
