.light_theme {
  --primary: #ffffff;
  --background: #f0f0f0;
  --main-header-secondary: white;
  --main-header-link: white;
  --main-header-primary: #009999;
  --functional: #009999;
  --text: rgb(31, 28, 28);
  --button-text: white;
  --secondary: #ff7400;
}
.dark_theme {
  --primary: rgb(70, 70, 78);
  --background: rgb(54, 54, 61);
  --main-header-secondary: white;
  --main-header-link: white;
  --main-header-primary: #282736;
  --functional: #282736;
  --text: rgb(255, 255, 255);
  --button-text: white;
  --secondary: #ff7400;
}
button {
  background: var(--functional);
  color: var(--button-text);
}
p,
h1 {
  color: var(--text);
}
